<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="perfil" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="perfil">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="experiencias">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Práctica SQLite</ion-title>
    </ion-toolbar>
  </ion-header>

  Aprenderemos a gestionar nuestra BD en SQLite
  <br>
  <h1>Listado de Elementos</h1>

  <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>

  <ion-list>

    <ion-item-sliding *ngFor="let item of noticias">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/icon/favicon.png">
        </ion-avatar>

        <ion-label>
          <h2>{{ item.titulo }}</h2>
          <!-- word-wrap para los cortes entre palabras  white-space para que aparezca todo el texto en varias lineas y no se corte-->
          <p style="word-wrap: break-word; white-space: normal;">{{ item.texto }}</p>
        </ion-label>

      </ion-item>
      <!-- El error era que el evento click se lo puse al icono y no al boton completo -->
      <ion-item-options side="end">
        <ion-item-option (click)="editar(item)">
          <ion-icon name="create" ></ion-icon> Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(item)">
          <ion-icon name="trash"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agregar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
